@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@200;400&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Sarabun', sans-serif;
  font-size: 11px;
}

.d-inline {
  display: inline-block;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.border-top {
  border-top: 1px solid black;
}

.border-top-double {
  border-top: 2px double black;
}

.border-left {
  border-left: 1px solid black;
}

.border-left-double {
  border-left: 2px double black;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.border-bottom-double {
  border-bottom: 2px double black;
}

.border-right {
  border-right: 1px solid black;
}

.border-right-double {
  border-right: 2px double black;
}

.fs-1 {
  font-size: 24px;
}

.fs-2 {
  font-size: 20px;
}

.fs-3 {
  font-size: 18px;
}

.fs-4 {
  font-size: 16px;
}

.fs-5 {
  font-size: 14px;
}

.fs-6 {
  font-size: 12px;
}

.fs-7 {
  font-size: 10px;
}

.w-5 {
  width: 5%;
}

.w-10 {
  width: 10%;
}

.w-15 {
  width: 15%;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-45 {
  width: 45%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-60 {
  width: 60%;
}

.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}

.w-75 {
  width: 75%;
}

.w-80 {
  width: 80%;
}

.w-85 {
  width: 85%;
}

.w-90 {
  width: 90%;
}

.w-95 {
  width: 95%;
}

.w-100 {
  width: 100%;
}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

.p-1,
.pt-1,
.py-1 {
  padding-top: 0.25rem;
}

.p-1,
.pb-1,
.py-1 {
  padding-bottom: 0.25rem;
}

.p-1,
.ps-1,
.px-1 {
  padding-left: 0.25rem;
}

.p-1,
.pe-1,
.px-1 {
  padding-right: 0.25rem;
}

.p-2,
.pt-2,
.py-2 {
  padding-top: 0.5rem;
}

.p-2,
.pb-2,
.py-2 {
  padding-bottom: 0.5rem;
}

.p-2,
.ps-2,
.px-2 {
  padding-left: 0.5rem;
}

.p-2,
.pe-2,
.px-2 {
  padding-right: 0.5rem;
}

.p-3,
.pt-3,
.py-3 {
  padding-top: 1rem;
}

.p-3,
.pb-3,
.py-3 {
  padding-bottom: 1rem;
}

.p-3,
.ps-3,
.px-3 {
  padding-left: 1rem;
}

.p-3,
.pe-3,
.px-3 {
  padding-right: 1rem;
}

.small {
  font-size: 75%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.vt {
  position: relative;
  width: 6%;
  text-align: left;
}

.vt span {
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.vertical-top {
  height: 100%;
  vertical-align: top;
}

.vertical-center {
  height: 100%;
  vertical-align: center;
}

.vertical-bottom {
  height: 100%;
  vertical-align: bottom;
}

.border-bottom {
  border-bottom: 1px solid #333333;
}

.border-top {
  border-top: 1px solid #333333;
}

.page-break-after {
  clear: both;
  position: relative;
  page-break-after: always;
  border: 1px solid transparent;
  display: block;
}

.portrait-a4 {
  height: 1043px;
}

.landscape-a4 {
  height: 703px;
}

.portrait-a3 {
  height: 1496px;
}

.landscape-a3 {
  height: 1032px;
}

.landscape-legal {
  height: 725px;
}

.align-page-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
