{
	"semi": false,
	"printWidth": 100,
	"tabWidth": 2,
	"useTabs": false,
	"trailingComma": "es5",
	"singleQuote": true,
	"quoteProps": "as-needed",
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"insertPragma": false,
	"proseWrap": "preserve",
	"requirePragma": false
}
